/* ----------------------------- */
/* GENERAL */
/* ----------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

body{
  background: #344a72;
}

/* ----------------------------- */
/* CONTAINER AND FORM */
/* ----------------------------- */


.container{
  max-width: 1140px;
  margin: auto;
}

.form {
  background: #f5f5f5;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  width: 35%;
  margin: 20px auto 0 auto;

}

/* ----------------------------- */
/* HEADINGS */
/* ----------------------------- */


.heading h1{
  margin: 10px;
  font-size: 170%;
  text-align: center;
}

.heading p{
  margin: 10px;
  font-size: 85%;
  text-align: center;
}

/* ----------------------------- */
/*FIELDS IN FORM*/
/* ----------------------------- */

.fields{
  display:block;
  padding: 7px;
  font-size: 80%;
  width: 90%;
  margin: auto;
}

label{
  display: block;
  margin: 10px 0;
}

input[type=text],
input[type=email],
input[type=password]{
  display: block;
  border: 1px solid #78909c;
  border-radius: 5px;
  font-size: 80%;
  width: 100%;
  height: 35px;
  margin: auto;
  outline: none;

}

/* ----------------------------- */
/* BUTTON */
/* ----------------------------- */

button{
  display: block;
  width: 90%;
  height: 35px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #009688;
  margin: 10px auto;
  padding: 7px;
  text-align: center;
  font-size: 80%;
  text-transform: uppercase;
}


/* ----------------------------- */
/* FOOTER*/
/* ----------------------------- */


.msg{
  text-align:  center;
  color: #000;
  font-size: 75%;
  margin: 15px;
  line-height: 1.5em;;
}

.msg a:active,
.msg a:visited,
.msg a:link{
  text-decoration: none;
  color: #3F51B5;
  font-weight: bold;
}

.footer{
  width: 35%;
  margin:15px auto;
  color: #fff;
  font-size: 85%;
  text-align:center;
}

.footer a{
  text-decoration: none;
  font-weight: bold;
  color: #009688;
}